body {

    background-color: rgb(231, 196, 119);
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #58390f;
    color: white;
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 2px 5px hsla(115, 77%, 39%, 0.3);
}

.navigatie {
    padding: 10px;
    overflow: scroll;
    display: grid;
    gap: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    top: 45px;
    left: 0;
    position: fixed;
    background: #b98b28;
}

.footer {

    display: grid;
    gap: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1px;
}