body {

    background-color: rgb(231, 196, 119);
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #58390f;
    color: white;
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 2px 5px hsla(115, 77%, 39%, 0.3);
}


.navigatie {
display: inline;
background: #b98b28;
 box-sizing: border-box;
}

@media screen  and (min-width: 700px) {
    body{


    }
    .footer {

    display: grid;
    gap: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1px;
}
}
@media screen  and (max-width: 700px) {


    }
      .footer {

    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1px;
}

